@import "colours.css" screen;

body {
  padding: 30px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: var(--color-primary-text);
  background: var(--color-background);
  font-size: 3em;
  font-weight: 900;
  padding: 0.25em;
  display: inline-block;
  margin: 0;
}

h2 {
  color: var(--color-dark-text);
  font-size: 2em;
  font-weight: 900;
  padding: 0.25em;
  margin: 0;
}

h3 {
  color: var(--color-dark-text);
  font-size: 1.5em;
  font-weight: 400;
  padding: 0.25em;
  margin: 0;
}

p {
  color: var(--color-dark-text);
  font-size: 1em;
  font-weight: 400;
  padding: 0.25em;
  display: inline-block;
  margin: 0;
}

a {
  color: var(--color-link-text);
  font-size: 1em;
  font-weight: 400;
  padding: 0 0 0 1em;
  display: inline-block;
  cursor: pointer;
  margin: 0;
}

blockquote {
  border-left-style: solid;
  border-left-width: thick;
  border-left-color: var(--color-background);
  color: var(--color-dark-text);
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  padding: 0.25em 0 0.25em 1.5em;
  display: block;
  margin: 0;
}

button {
  color: var(--color-primary-text);
  background: var(--color-background);
  font-size: 1.5em;
  font-weight: 400;
  padding: 0.25em 0.5em 0.25em 0.5em;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

i {
  padding-left: 0.1em;
}

.taglist {
  float: right;
}

.tag {
  color: var(--color-primary-text);
  background: var(--color-background);
  font-size: 1em;
  font-weight: 400;
  padding: 0.25em 0.5em 0.25em 0.5em;
  display: inline-block;
  cursor: pointer;
}
